/*Header*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    height: 400px;
    width: 400px;
    object-fit: contain;
    align-items: flex-start;
}

.nav a {
    align-items: start;
    color: black;
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-size: 40;
}

.nav a:hover {
    color: #10307C;
}

.socialmediaphotos-1 img {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
}

.nav {
    margin-right: 300px;
    font-size: 40;
    align-items: center;
    justify-content: space-evenly;
}

.socialmediaphotos-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}
/*Header end */

/*Hero section*/
.hero {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 18.3%);
    background-color: rgb(255, 255, 255);
}

.Hero-billede {
    width: 1500px;
    height: 622px;
    border-radius: 0%;
    
}

.img-tekst {
    grid-column: 2/4;
    grid-row: 2/4;
}

.hero h1 {
    color: white;
    font-family: 'Linden Hill', serif;
    font-size: 48px;
    font-weight: lighter;
    align-items: center;
    margin-bottom: 0%;
}

.hero p {
    color: white;
    font-family: 'Linden Hill', serif;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 0%;
}

.formularen {
    background-color: #10307C;
    padding: 20px;
    grid-column: 4/5;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    height: 582px;
}

.formularen h1 {
    align-items: center;
    margin-top: 15px;
    justify-content: center;
}

.formularen p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: lighter;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input input {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    font-family: 'Lato' sans-serif;
    border: none;
    outline: none;
}

.formularen button {
    padding: 20px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-family: 'Lato' sans-serif;
    font-size: 16px;
    border-radius: 50px;
    font-weight: lighter;
    color: gray;
}

.formularen button:hover {
    background-color: #EEEABC;
    color: #10307C;
}

/*Hero section end*/

html {
    scroll-behavior: smooth;
}

/*Biografi sektion*/
.biografi {
    display: flex;
    background-color: #F0EFDF;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 20px;
}

.left2 {
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
}

.right2 {
    right: 0;
    display: flex;
    align-items: right;
    justify-content: right;
}

.hb {
    text-align: start;
}

.pb {
    text-align: start;
}

.button2 {
    display: inline-block;
    background: #10307C;
    border: none;
    outline: none;
    color: white;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 600px) {
    .biografi {
        flex-direction: column;
    }

    .hb {
        font-size: 18px;
    }

    .pb {
        font-size: 16px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .button2 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 10px;

    }
}

/* Biografi sektion end*/
/* Varmepumpe sektion*/
.varmepumpe {
    display: flex;
    background-color: #10307C;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.left1 {
    left: 0;
    background-color: #10307C;
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

img {
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.right1 {
    right: 0;
    background-color: #10307C;
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

.box-content1 {
    background-color: #10307C;
    border: 5px;
    margin: auto;
    padding: 20px;
    box-sizing: content-box;
}

.hw {
    color: white;
    margin-bottom: 20px;
    text-align: end;
}

.pw {
    color: white;
    text-align: end;
}

h1 {
    font-family: 'Linden Hill', serif;
    font-size: 46px;
    font-weight: lighter;
}

p {
    font-family: 'Lato', light, sans-serif;
    font-weight: lighter;
    font-size: 20px;

}

.button1 {
    display: inline-block;
    background: #ffe6b3;
    border: none;
    outline: none;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;

}

@media (max-width: 600px) {
    .varmepumpe {
        flex-direction: column;
    }

    .hw {
        font-size: 18px;
    }

    .pw {
        font-size: 16px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .button1 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 20px;

    }
}

/*Varmepumpe sektion end*/

/* Opstartstilbud sektion*/
.opstartstilbud {
    display: flex;
    background-color: #F0EFDF;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 40px;
}

.left2 {
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
}

.right2 {
    right: 0;
    display: flex;
    align-items: right;
    justify-content: right;
}

.hb {
    text-align: start;
}

.pb {
    text-align: start;
}

.button3 {
    display: inline-block;
    background: #10307C;
    border: none;
    outline: none;
    color: white;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 600px) {
    .opstartstilbud {
        flex-direction: column;
    }

    .hb {
        font-size: 18px;
    }

    .pb {
        font-size: 16px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .button2 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 20px;

    }
}

/*Opstarts sektion end*/

/*Certifikat sektion*/

.certificering {
    display: flex;
    background-color: #10307C;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.left1 {
    left: 0;
    background-color: #10307C;
    display: flex;
    align-items: left;
    justify-content: left;
}

img {
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.right1 {
    right: 0;
    background-color: #10307C;
    display: flex;
    align-items: right;
    justify-content: right;
}

.box-content1 {
    background-color: #10307C;
    border: 5px;
    margin: auto;
    padding: 20px;
    box-sizing: content-box;
}

.hw {
    color: white;
    margin-bottom: 20px;
    text-align: start;
}

.pw {
    color: white;
    text-align: start;
}

@media (max-width: 600px) {
    .certificering {
        flex-direction: column;
    }

    .hw {
        font-size: 18px;
    }

    .pw {
        font-size: 16px;
    }

    img {
        height: 150px;
        width: 150px;
    }
}

/*Certifikat end*/

/*Footer*/
.footer {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: white;
    gap: 1px;
}

.info,
.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer h3,
.pf {
    text-align: center;
    margin: 0;
}

.socialmediaphotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialmediaphotos img {
    width: 40px;
    height: 40px;
    gap: 12px;
}

@media (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ;
    }

    .footer h3 {
        font-size: 18px;
    }

    .pf {
        font-size: 13px;
    }

    .socialmediaphotos img {
        height: 30px;
        width: 30px;
        gap: 12px;
    }
}

/*Footer end*/