.section_varmepumpe div {
    display: flex;
    width: 100px;
    margin: 10px;
    padding:10PX;
    text-align: right;
    background-color: #10307C;
}

.Text_box {
    background-color: #10307C;
    text-align: right;
}

.hw {
    color: white;
    margin-bottom: 20px;
    
}

.pw {
    color: white;
    
}

h1 {
    font-family: 'Linden Hill', serif;
    font-size: 46px;
    font-weight: lighter;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.image_box {
display: flex;
 width: 100%;
margin: 10px;
padding: 10px;
border-radius: 50%;
background-color: #10307C;
}

.button1 {
display: inline-block;
background: #ffe6b3;
padding: 18px 40px;
border-radius: 45px;
font-size: 20px;
margin-top: 20px;
transition: 0.25s;
}