/* Varmepumpe sektion*/
#varmepumpe {
display: flex;
background-color: #10307C;
align-items: center;
justify-content: center;
}  

.left1 {
    left: 0;
    background-color: #10307C;
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

img {
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.right1 {
    right: 0;
    background-color: #10307C;
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

.box-content1{
    background-color: #10307C;
    border: 5px;
    margin: auto;
    padding: 20px;
    box-sizing: content-box;
}

.hw {
    color: white;
    margin-bottom: 20px;
    text-align: end;
}

.pw {
    color: white;
    text-align: end;
}

h1 {
    font-family: 'Linden Hill', serif;
    font-size: 46px;
    font-weight: lighter;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    
}

.button1 {
display: inline-block;
background: #ffe6b3;
padding: 18px 40px;
border-radius: 45px;
font-size: 20px;
margin-top: 20px;
transition: 0.25s;
cursor: pointer;
}

/* end Varmepumpe sektion*/

/* Opstartstilbud sektion*/
#opstartstilbud {
display: flex;
background-color: #F0EFDF;
align-items: center;
justify-content: space-evenly;
flex-wrap: nowrap;
}

.left2 {
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;   
}

.right2 {
    right: 0;
    display: flex;
    align-items: right;
    justify-content: right;
}
.button2 {
display: inline-block;
background: #10307C;
color: white;
padding: 18px 40px;
border-radius: 45px;
font-size: 20px;
margin-top: 20px;
transition: 0.25s;
cursor: pointer;
}

