/*Header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
    border-radius: 0%;
    width: 250px;
}

.nav {
 display: flex;
  gap: 30px;                    
 justify-content: center;
}

.nav a {
    color: black;
    font-family: "Linden Hill", serif;
    font-size: 18px;
    padding: 0.3rem 0.5rem;
}

.nav a:hover {
    color: #10307C;
}

.socialmedialogo {
    height: 30px;
    display: flex;
    gap: 10px;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .logo {
        width: 200px;
    }

    .nav a {
        font-size: 16px;
        padding: 0.3rem 0.5rem;
        display: flex;
        flex-direction: row;
    }

    .socialmedialogo {
        height: 25px;
        gap: 12px;
        flex-direction: row;
    }
}
/*Header end */

/*Hero section*/
.hero {
    display: flex
}

.img-tekst {
    flex-grow: 1;
    background-image: url(Hero\ sektion\ billede.jpg);
}

.img-tekst h1 {
    color: white;
    font-family: 'Linden Hill', serif;
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
    margin-top: 250px;  
    margin-left: 100px;
}

.img-tekst p {
    color: white;
    font-family: 'Linden Hill', serif;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    margin-left: 100px;
}

.formularen {
    background-color: #10307C;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 582px;
}

.formularen h1 {
    margin-top: 15px;
    text-align: center;
    color: white;
    font-family: 'Linden Hill', serif;
    font-size: 40px;
}

.formularen p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: lighter;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input input {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    font-family: 'Lato' sans-serif;
    border: none;
    outline: none;
}

.formularen button {
    padding: 20px;
    margin: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    font-family: 'Lato' sans-serif;
    font-size: 16px;
    border-radius: 50px;
    font-weight: lighter;
    color: gray;
}

.formularen button:hover {
    background-color: #EEEABC;
    color: white;
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
    }

    .img-tekst h1 {
        font-size: 24px;
        text-align: center;
        margin-top: 0px;
        color: white;
        -webkit-text-stroke: 1px black;
        font-weight: bolder;
    }

    .img-tekst p {
        font-size: 20px;
        text-align: center;
        -webkit-text-stroke: 1px black;
        font-weight: bolder;
    }

    .formularen h1 {
        font-size: 25px;
    }

    .formularen p {
        font-size: 15px;
    }

    .formularen button {
        font-size: 15px;
    }

    .input input {
        font-size: 15px;
    }

}

/*Hero section end*/
html {
    scroll-behavior: smooth;
}
/*Biografi sektion*/
.biografi {
    display: flex;
    background-color: #F0EFDF;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 20px;
}

.left2 {
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
}

.right2 {
    right: 0;
    display: flex;
    align-items: right;
    justify-content: right;
}

.hb {
    text-align: start;
}

.pb {
    text-align: start;
}

.button2 {
    display: inline-block;
    background: #10307C;
    border: none;
    outline: none;
    color: white;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .biografi {
        flex-direction: column;
    }

    .hb {
        font-size: 18px;
    }

    .pb {
        font-size: 16px;
    }

    .round-image {
        height: 150px;
        width: 150px;
    }

    .button2 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 10px;

    }
}
/* Biografi sektion end*/

/* Varmepumpe sektion*/
.varmepumpe {
    display: flex;
    background-color: #10307C;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.left1 {
    left: 0;
    background-color: #10307C;
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

img {
    border-radius: 50%;
    object-fit: cover;
}

.right1 {
    right: 0;
    background-color: #10307C;
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

.box-content1 {
    background-color: #10307C;
    border: 5px;
    margin: auto;
    padding: 20px;
    box-sizing: content-box;
}

.hw {
    color: white;
    margin-bottom: 20px;
    text-align: end;
}

.pw {
    color: white;
    text-align: end;
}

h1 {
    font-family: 'Linden Hill', serif;
    font-size: 46px;
    font-weight: lighter;
}

p {
    font-family: 'Lato', light, sans-serif;
    font-weight: lighter;
    font-size: 20px;

}

.button1 {
    display: inline-block;
    background: #ffe6b3;
    border: none;
    outline: none;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;

}

@media (max-width: 600px) {
    .varmepumpe {
        flex-direction: column;
    }

    .hw {
        font-size: 18px;
    }

    .pw {
        font-size: 16px;
    }

    .round-image {
        height: 150px;
        width: 150px;
    }

    .button1 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 20px;

    }
}
/*Varmepumpe sektion end*/

/* Opstartstilbud sektion*/
.opstartstilbud {
    display: flex;
    background-color: #F0EFDF;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 40px;
}

.left2 {
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
}

.right2 {
    right: 0;
    display: flex;
    align-items: right;
    justify-content: right;
}

.hb {
    text-align: start;
}

.pb {
    text-align: start;
}

.button3 {
    display: inline-block;
    background: #10307C;
    border: none;
    outline: none;
    color: white;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 600px) {
    .opstartstilbud {
        flex-direction: column;
    }

    .hb {
        font-size: 18px;
    }

    .pb {
        font-size: 16px;
    }

    .round-image {
        height: 150px;
        width: 150px;
    }

    .button2 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 20px;

    }
}
/*Opstarts sektion end*/

/*Certifikat sektion*/

.certificering {
    display: flex;
    background-color: #10307C;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.left1 {
    left: 0;
    background-color: #10307C;
    display: flex;
    align-items: left;
    justify-content: left;
}

.round-image {
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.right1 {
    right: 0;
    background-color: #10307C;
    display: flex;
    align-items: right;
    justify-content: right;
}

.box-content1 {
    background-color: #10307C;
    border: 5px;
    margin: auto;
    padding: 20px;
    box-sizing: content-box;
}

.hw {
    color: white;
    margin-bottom: 20px;
    text-align: start;
}

.pw {
    color: white;
    text-align: start;
}

@media (max-width: 600px) {
    .certificering {
        flex-direction: column;
    }

    .hw {
        font-size: 18px;
    }

    .pw {
        font-size: 16px;
    }

    .round-image {
        height: 150px;
        width: 150px;
    }
}
/*Certifikat end*/

/*Footer*/
.footer {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: white;
    gap: 1px;
}

.info,
.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer h3,
.pf {
    text-align: center;
    margin: 0;
}

.socialmediaphotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialmediaphotos img {
    width: 40px;
    height: 40px;
    gap: 12px;
}

@media (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ;
    }

    .footer h3 {
        font-size: 18px;
    }

    .pf {
        font-size: 13px;
    }

    .socialmediaphotos img {
        height: 30px;
        width: 30px;
        gap: 12px;
    }
}
/*Footer end*/