.split {
    height: 100%;
    width: 50%;
    position: fixed;
}  

.left1 {
    left: 0;
    background-color: #10307C;
}

.right1 {
    right: 0;
    background-color: #10307C;
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

.box-content1{
    background-color: #10307C;
    width: 500px;
    height: 300px;
    padding: 50px;
    border: 5px;
    margin: auto;
    padding: 20px;
    box-sizing: content-box;
}
.hw {
    color: white;
    margin-bottom: 20px;
    
}

.pw {
    color: white;
    
}

h1 {
    font-family: 'Linden Hill', serif;
    font-size: 46px;
    font-weight: lighter;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}


.button1 {
display: inline-block;
background: #ffe6b3;
padding: 18px 40px;
border-radius: 45px;
font-size: 20px;
margin-top: 20px;
transition: 0.25s;
}