/*Biografi sektion*/
.biografi {
    display: flex;
    background-color: #F0EFDF;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 20px;
    margin-bottom: 20px;
}

.left2 {
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
}

.right2 {
    right: 0;
    display: flex;
    align-items: right;
    justify-content: right;
}

.hb {
    text-align: start;
}

.pb {
    text-align: start;
}

.button2 {
    display: inline-block;
    background: #10307C;
    color: white;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 600px) {
    .biografi {
        flex-direction: column;
    }

    .hb {
        font-size: 18px;
    }

    .pb {
        font-size: 16px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .button2 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 10px;

    }
}

/* Biografi sektion end*/
/* Varmepumpe sektion*/
.varmepumpe {
    display: flex;
    background-color: #10307C;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.left1 {
    left: 0;
    background-color: #10307C;
    display: flex;
    align-items: left;
    justify-content: flex-start;
}

img {
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.right1 {
    right: 0;
    background-color: #10307C;
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

.box-content1 {
    background-color: #10307C;
    border: 5px;
    margin: auto;
    padding: 20px;
    box-sizing: content-box;
}

.hw {
    color: white;
    margin-bottom: 20px;
    text-align: end;
}

.pw {
    color: white;
    text-align: end;
}

h1 {
    font-family: 'Linden Hill', serif;
    font-size: 46px;
    font-weight: lighter;
}

p {
    font-family: 'Lato', light, sans-serif;
    font-weight: lighter;
    font-size: 20px;

}

.button1 {
    display: inline-block;
    background: #ffe6b3;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 600px) {
    .varmepumpe {
        flex-direction: column;
    }

    .hw {
        font-size: 18px;
    }

    .pw {
        font-size: 16px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .button1 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 20px;

    }
}

/*Varmepumpe sektion end*/

/* Opstartstilbud sektion*/
.opstartstilbud {
    display: flex;
    background-color: #F0EFDF;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 40px;
}

.left2 {
    left: 0;
    display: flex;
    align-items: left;
    justify-content: left;
}

.right2 {
    right: 0;
    display: flex;
    align-items: right;
    justify-content: right;
}

.hb {
    text-align: start;
}

.pb {
    text-align: start;
}

.button2 {
    display: inline-block;
    background: #10307C;
    color: white;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 600px) {
    .opstartstilbud {
        flex-direction: column;
    }

    .hb {
        font-size: 18px;
    }

    .pb {
        font-size: 16px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .button2 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        padding: 9px 20px;

    }
}

/*Opstarts sektion end*/

/*Certifikat sektion*/

.certificering {
    display: flex;
    background-color: #10307C;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.left1 {
    left: 0;
    background-color: #10307C;
    display: flex;
    align-items: left;
    justify-content: left;
}

img {
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.right1 {
    right: 0;
    background-color: #10307C;
    display: flex;
    align-items: right;
    justify-content: right;
}

.box-content1 {
    background-color: #10307C;
    border: 5px;
    margin: auto;
    padding: 20px;
    box-sizing: content-box;
}

.hw {
    color: white;
    margin-bottom: 20px;
    text-align: start;
}

.pw {
    color: white;
    text-align: start;
}

@media (max-width: 600px) {
    .certificering {
        flex-direction: column;
    }

    .hw {
        font-size: 18px;
    }

    .pw {
        font-size: 16px;
    }

    img {
        height: 150px;
        width: 150px;
    }
}

/*Certifikat end*/

/*Footer*/
.footer {
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: white;
    gap: 1px;
}

.info,
.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer h3,
p {
    text-align: center;
    margin: 0;
}

.socialmediaphotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialmediaphotos img {
    width: 40px;
    height: 40px;
    gap: 12px;
}

@media (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 24px;
    }

    .footer h3 {
        font-size: 18px;
    }

    .p {
        font-size: 12px;
    }

    .socialmediaphotos img {
        height: 20px;
        width: 20px;
        gap: 12px;
    }
}

/*Footer end*/