.section_varmepumpe {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    background-color: #10307C;
}

.Text_box {
    background-color: #10307C;
    flex: 1;
}

.hw {
    color: white;
    margin-bottom: 20px;
    flex: 1;
}

.pw {
    color: white;
    flex: 1;
}

h1 {
    font-family: 'Linden Hill', serif;
    font-size: 46px;
    font-weight: lighter;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.image_box {
    width: 100%;
    max-width: 400px;
    height: 422px;
    display: flex;
    align-items: start;
    justify-content: start;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
}

.button1 {
    display: inline-block;
    background: #ffe6b3;
    padding: 18px 40px;
    border-radius: 45px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.25s;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    max-width: 200px;
}


.nav a {

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32;
}


.nav a:hover {
    color: #EEEABC;
}

.some img {
    height: 20px;
    width: 20px;

}

.nav {
    margin-right: 150px;
    margin-left: 50px;
}


.some {
    margin-right: 150px;
}


.hero {

    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 18.3%);
    background-color: rgb(255, 255, 255);




}

.hero img {

    width: 1000px;
    height: 622px;

}
.img-tekst{
    grid-column: 2/4 ;
    grid-row: 2/4;
}



.hero h1 {
    color: white;
    font-family: 'Linden Hill', serif;
    font-size: 48px;
    font-weight: lighter;
    display: flex;
     align-items: center;
    margin-top: 70px;
    margin-bottom: 0%;

}

.hero p {
    color: white;
    font-family: 'Linden Hill', serif;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 0%;
   

   

}

.formularen {
    background-color: #10307C;

    padding: 20px;
    grid-column: 4/5;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
    
}

.formularen h1 {
    align-items: center;
    margin-top: 15px;
    justify-content: center;


}

.formularen p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: lighter;



}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.input input {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    font-family: 'Lato' sans-serif;
}

.formularen button {
    padding: 20px;
    margin : 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato' sans-serif;
    font-size: 16px;
    border-radius: 50px;
    font-weight: lighter;
    color: gray;
}
.formularen button:hover{
    background-color: #EEEABC;
    color: #10307C;
}